<div class="profile_container">
  <app-navbar />
  <div class="profile_content">
    <div class="profile">
      <div class="personal_info">
        <h4 class="title">Profile Information</h4>
        <div class="info">
          <div class="content">
            <span>
              <p>Name</p>
              <h5>{{profile()?.name}}</h5>
            </span>
            <span>
              <p>Email</p>
              <h5>{{profile()?.email}}</h5>
            </span>
            <span>
              <p>Role</p>
              <h5>{{profile()?.role}}</h5>
            </span>
          </div>
          <div class="content">
            <span>
              <p>Programme</p>
              <h5>{{profile()?.programme}}</h5>
            </span>
            <span>
              <p>Date of Birth</p>
              <h5>{{profile()?.dob | date: 'longDate'}}</h5>
            </span>
            <span>
              <p>Address</p>
              <h5>{{profile()?.address}}</h5>
            </span>
          </div>
          <div class="content">
            <span>
              <p>Account verified</p>
              <h5>{{profile()?.isVerified}}</h5>
            </span>
            <span>
              <p>Updated profile date</p>
              <h5>{{profile()?.updatedAt}}</h5>
            </span>
            <span>
              <p>Created date</p>
              <h5>{{profile()?.createdAt}}</h5>
            </span>
          </div>
          <div class="content">
            <span>
              <p>Phone</p>
              <h5>{{profile()?.phone}}</h5>
            </span>
            <span>
              <p>Registered</p>
              <h5>{{profile()?.registered || 'No'}}</h5>
            </span>
            <span>
              <p>Role</p>
              <h5>{{profile()?.role}}</h5>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
